
body { background-color:#81C784; }

paper-dialog	{ width:94%; text-align:center; }
paper-dialog h1	{ color: #81C784; font-size:20px; }
paper-dialog p	{ margin-top:20px; padding:0 20px; text-align:left; }

paper-scroll-header-panel .paper-header { background-color:#fff; font-size:20px; box-shadow:0 0 5px #000; }

paper-card				{ margin-top:15px; margin-left:3%; width:94%; }
paper-card:last-of-type	{ margin-bottom:15px; }

paper-icon-button[icon=arrow-back]	{ margin: 8px; }

#search-box		{ float:right; padding:8px; }
#search-input	{ float:left; margin-right:10px; }
#search-button	{ float:left; }

#view	{ min-height:100vh; background-color:#fff; }

#video	{ width:100%; height:56.25vw; }

#invite-user-form			{ padding:20px; text-align:center; }
#invite-user-form h2 span	{ float:left; margin-left:20px; }
#add-user-input				{ float:right; margin-right:10px; }
#add-user-button			{ float:right; margin-bottom:10px; margin-right:20px; }
#invite-user				{ margin:auto; margin-top:20px; }

#message-list	{ overflow-y:scroll; padding:10px; }
#message-item	{  }
#message-form	{ position:fixed; bottom:0; width:100%; background-color:#fff; }
#message-input	{ float:left; margin-left:10px; width:80% }
#message-send	{ float:right; margin-right:10px; }

.avatar {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  background: #ccc;
}